@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --margin-default: 2rem;
}
* {
  font-family: "Noto Sans", "Rubik", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: #000000f4;
  color: white;
  margin: 0;
  padding: 0;
}
.link-router {
  color: white;
}

.margin-default {
  margin: var(--margin-default);
}
